# LOLOL

In [1]:
import os
import json
from pathlib import Path
import sys

master_dir = Path().cwd().parent
# Add the master directory to the Python path
sys.path.append(str(master_dir))

from yahoo_finance import YFinanceData

In [ ]:
TICKERS = ['GC=F']
yf_data = YFinanceData(tickers=TICKERS)

In [ ]:
rets_df = yf_data.returns
prices_df = yf_data.adjusted_price_data
prices_df

Ticker          GC=F
Date
2000-08-30       NaN
2000-08-31  0.016064
2000-09-01 -0.004671
2000-09-05 -0.004332
2000-09-06 -0.005801
...              ...
2025-04-21  0.029468
2025-04-22 -0.001585
2025-04-23 -0.036609
2025-04-24  0.017001
2025-04-25 -0.000540

[6185 rows x 1 columns]